.header-content {
  display: grid;
  grid-template: min(5vh) / 1fr 8fr 1fr;
  width: 100%;
  background-color: var(--gray-800);
}

.header-content * {
  color: var(--gray-300);
}

.header-content-logo {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: var(--font-size-xl);
}

.header-content-logo img,
.header-content-logo svg {
  padding: 5px;
  margin-right: 5px;
  max-width: 2.5em;
  max-height: 2.5em;

}

.header-content nav {
  display: flex;
}

.nav-btn-cnt {
  padding: 1px;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-content span {
  margin-left: 4px;
}

.header-content a {
  padding: 5px;
}

.header-content a,
.header-content a * {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-content a:active,
.header-content a:focus {
  color: var(--gray-100);
  background-color: var(--gray-700);
  text-decoration: none;
}

.header-content a:hover {
  color: var(--gray-100);
  text-decoration: underline;
}

.nav-btn-selected {
  color: var(--gray-100);
  background-color: var(--gray-700);
}


.content .container {
  display: grid;
  grid-template: 100% / 500px auto;
  height: 100%;
  width: 100%;
  gap: 0;
}

.control-panel {
  grid-column: 1;
  background-color: var(--gray-700);
}

.control-panel-title {
  padding: 5px;
  background-color: var(--gray-800);
  display: grid;
  grid-template: 25px / 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
}

.control-panel-title * {
  height: 25px;
}

.control-panel-title *:active *:focus {
  outline-width: 0px;
  outline: none;
}

.control-panel-list {
  padding: 5px;
  background-color: var(--gray-500);
  display: grid;
  grid-template: 25px / 1fr 1fr 3fr 2fr 1fr 1fr;
}

.control-panel-list input {
  height: 25px;
}

.control-panel-list span {
  display: flex;
  align-items: center;
  justify-content: center;
}


.view-panel {
  grid-column: 2;
  background-color: var(--gray-500);
}

.view-panel .world-map {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/src/assets/other/world-map.svg"), linear-gradient(to bottom, var(--blue-500), var(--blue-700));
  background-position: center;
  height: 100%;
  width: 100%;
}


.world-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-map .sizing {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.world-map .sizing .btn-cnt {
  display: flex;
  flex-direction: column;
}

.world-map .sizing .btn-cnt * {
  padding: auto;
  height: auto;
  display: flex;
  align-items: center;
}


.world-map .sizing .btn-cnt button {
  width: auto;
  height: auto;
  margin-bottom: 15px;
  margin-right: 25px;
  aspect-ratio: 1;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  font-weight: 900;
}

.good {
  color: greenyellow;
}

.bad {
  color: tomato;
}

.user-cnt {
  display: flex;
  justify-content: center;
}

.user-cnt a {
  width: auto;
  height: 100%;
}
