PROJECT_NAME='Tracker'
ENVIRONMENT='develop'

POSTGRES_SERVER='localhost'
POSTGRES_PORT=5432
POSTGRES_USER='user'
POSTGRES_PASSWORD='password0000'
POSTGRES_DB='test_db'

DATABASE_URL='localhost://user:password0000@db:5432/test_db'
