PROJECT_NAME='Tracker'
ENVIRONMENT='develop'

POSTGRES_SERVER='postgresql'
POSTGRES_PORT=5432
POSTGRES_USER='user'
POSTGRES_PASSWORD='password0000'
POSTGRES_DB='test_db'

DATABASE_URL='localhost://user:password0000@db:5432/test_db'

PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080
