.login {
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: min(50%, 400px);
}

.login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.login-logo img {
  height: 100px;
  aspect-ratio: 1;
  margin: 20px;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  width: 100%;
  
}

.login-form input {
  width: 100%;
}

.login-email-title {
  font-weight: 600;
  margin: 5px;
}

.login-email {
  width: 100%;
}


.login-password-title {
  font-weight: 600;
  margin: 5px;
}

.login-password {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
}

.forget-password-btn {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-interaction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* @media (width < 768px) {
  .login {
    width: 100%;
  }
} */


@media (width < 544px) {
  .login {
    width: 100%;
  }
}
