.header-content {
  display: grid;
  grid-template: min(5vh) / 1fr 8fr 1fr;
  width: 100%;
  background-color: var(--gray-800);
}

.header-content * {
  color: var(--gray-300);
}

.header-content-logo {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: var(--font-size-xl);
}

.header-content-logo img {
  margin-right: 5px;
  height: 100%;
}

.header-content nav {
  display: flex;
}

.nav-btn-cnt {
  padding: 1px;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-btn-cnt span {
  margin-left: 4px;
}

.header-content a,
.header-content a * {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-content a:active,
.header-content a:focus {
  color: var(--gray-100);
  background-color: var(--gray-700);
  text-decoration: none;
}

.header-content a:hover {
  color: var(--gray-100);
  text-decoration: underline;
}

.nav-btn-selected,
.nav-btn-selected * {
  background-color: var(--gray-700);
}


@media (width >= 768px) {
  .footer {
    flex-direction: row-reverse;
    width: 100%;
  }
  .footer-langs {
    margin-bottom: auto;
    margin-left: auto;
  }
  .footer-other {
    margin: 0;
  }
}
