.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: min(50%, 400px);
}

.register-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.register-logo img {
  height: 100px;
  aspect-ratio: 1;
  margin: 20px;
  
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  width: 100%;
  
}

.register-name-title {
  font-weight: 600;
  margin: 5px;
}

.register-name {
  width: 100%;
}

.register-email-title {
  font-weight: 600;
  margin: 5px;
}

.register-email {
  width: 100%;
  margin: 15px;
}

.register-password-title {
  font-weight: 600;
  margin: 5px;
}

.register-password {
  width: 100%;
  margin-bottom: 35px;
}

.register-interaction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* @media (width < 768px) {
  .login {
    width: 100%;
  }
} */


@media (width < 544px) {
  .register {
    width: 100%;
  }
}
